<form onsubmit={{action "saveUser"}}>
    <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating">
        {{input class="form-control" type="text" placeholder="Email" value=email}}
        {{#each errors.email as |error|}}
        <span class="error-message">{{error.message}}</span>
        {{/each}}
    </div>
    <div class="form-floating">
        {{input class="form-control" type="password" placeholder="Password" value=password}}

        {{#each errors.password as |error|}}
        <span class="error-message">{{error.message}}</span>
        {{/each}}
    </div>

    <div class="field">
        {{g-recaptcha-v2
        verified=(action "verified")
        expired=(action "expired")
        reset=reset
        }}
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" disabled={{iAmRobot}}>Зарегистрироваться</button>
    {{#link-to "index"}}Назад{{/link-to}}
</form>