<form onsubmit={{action "saveUser"}}>
    <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
    <h1 class="h3 mb-3 fw-normal">{{t "menu.registration"}}</h1>
     {{#if (v-get this 'email' 'isInvalid')}}
        <span class="error-message">
        {{v-get this 'email' 'message'}}
        </span>
    {{/if}}
    <div class="form-floating">
        {{input class="form-control" type="text" placeholder=(t "menu.email") value=email}}
    </div>
     {{#if (v-get this 'password' 'isInvalid')}}
        <span class="error-message">
        {{v-get this 'password' 'message'}}
        </span>
    {{/if}}
    <div class="form-floating">
        {{input class="form-control" type="password" placeholder=(t "menu.password") value=password}}
        {{#if (v-get this 'password' 'isInvalid')}}
        <span class="error-message">
            {{v-get this 'password' 'message'}}
        </span>
        {{/if}}
    </div>

    <div class="field">
        {{g-recaptcha-v2
        verified=(action "verified")
        expired=(action "expired")
        reset=reset
        }}
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" disabled={{iAmRobot}}>{{t "menu.register"}}</button>
    {{!-- {{#link-to "index"}}Назад{{/link-to}} --}}
</form>