<div class="htop">
    <h2 class="text-center">{{t "menu.addingSpeaker"}}: {{model.surname}} {{model.name}} {{model.famility}}</h2>
    <form class="edit-form">
        <div class="form-group row">
            <label for="inputSurname" class="col-sm-2 col-form-label text-right">{{t "menu.family"}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="inputSurname" placeholder={{t "menu.family"}} oninput={{action (mut surname) value="target.value"}}>
                {{#if (v-get this 'surname' 'isInvalid')}}
                    <span class="error-message">
                        {{v-get this 'surname' 'message'}}
                    </span>
                {{/if}}            
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label text-right">{{t "menu.name_2"}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="inputName" placeholder={{t "menu.name_2"}} oninput={{action (mut name) value="target.value"}}>
                {{#if (v-get this 'name' 'isInvalid')}}
                    <span class="error-message">
                        {{v-get this 'name' 'message'}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPatronymic" class="col-sm-2 col-form-label text-right big">{{t "menu.patronymic"}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="inputPatronymic" placeholder={{t "menu.patronymic"}} oninput={{action (mut famility) value="target.value"}}>
                {{#if (v-get this 'famility' 'isInvalid')}}
                    <span class="error-message">
                        {{v-get this 'famility' 'message'}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 text-right">
                {{!-- {{#link-to "speakers"}} --}}
                <button type="button" class="btn btn-primary btn-lg" onclick={{action "makespeaker"}}>{{t "menu.add"}}</button>
                {{!-- {{/link-to}} --}}
                {{#link-to "speaker" class="btn btn-outline-secondary btn-lg"}}{{t "menu.cancel"}}{{/link-to}}
            </div>
        </div>
    </form>
</div>